.contact-composant {
    height: 100vh;
    background-color: #192a56;
}


#prenom, 
#nom,
#telephone,
#evenement,
#nombreDeReservEnfant,
#nombreDeReservAdulte {
    margin-bottom: 20px;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
    color: white !important;
    background: rebeccapurple !important;
}

select:focus{   
  border-color: teal!important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rebeccapurple!important;
  outline: 0 none!important;
}
select option:hover:not(:focus) {
    background-color: rebeccapurple!important;
    color: #fff!important;
}

.reservation_form button {
    color: white;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    width: 100%;
}
.reservation_form button:hover {
    color: white;
    background-color: lightgreen;
    border-color: lightgreen;
    transition: 250ms ease-in-out;
}
.reservation_form button:active {
    background-color: lightcoral;
    border-color: lightcoral;
}

.reservation_form-title {
    margin-bottom: 20px;
    font-size: 1.6em;
}

/* Styles relatifs aux Formulaires */

li {
 list-style: none;
}

/* Contactez nous section */
.contacteznous {
    padding-top: 50px;
}

.form-h5-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: white;
}

.form-contact_info-desc {
    font-size: 0.9em;
    line-height: 1.7em;
    color: white;
}

.contact_info ul {
margin-left: 0;
padding: 0;
}

.social_list li {
    display: inline-block;
    height: auto;
}

.social_list li a {
    font-size: 2.4em;
    padding: 5px 10px;
    text-decoration: none;
    color: rebeccapurple;
}

.social_list li a:hover {
    color: tomato;
    transition: 250ms ease-in-out;
}

.icon_list li {
    display: block;
    height: 55px;
    padding: 10px;
}

.icon_list li i {
    background-color: rebeccapurple;
    display: block;
    border-radius: 5px;
    margin: 5px;
    padding: 7px 0;
    font-size: 24px;
    color: #ffffff;
    width: 35px;
    height: 35px;
    text-align: center;
    position: absolute;
    left: 23px;
}

.icon_list span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    font-size: 0.8em;
    margin-bottom: 0px;
    color: white;
}

.contact_form button {
    color: white;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    width: 100%;
}
.contact_form button:hover {
    color: white;
    background-color: lightgreen;
    border-color: lightgreen;
    transition: 250ms ease-in-out;
}

textarea {
    border: none!important;
}

textarea,
option,
input[type=text],
input[type="number"],
input[type="email"] {
    border-radius: 0!important;
    background-color: aliceblue!important;
    caret-color: rebeccapurple;
    border: 0;
    color: rebeccapurple;
}

input[type="number"] {
    width: 70px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border: 0;
  color: rebeccapurple;
  background-color: white;
  -webkit-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rebeccapurple;
  outline: 0 none;
}

textarea:focus {
    border-color: teal!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rebeccapurple!important;
    outline: 0 none!important;
}
